*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color:#ffff;
    
}

#form{
    background-color: #fff;
    border:none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    cursor:pointer;
}

#form:hover{
    color:#2196F3;
}

.input{
    position:relative;
}
.usuario-formulario{
    position:absolute;
    margin-top: 20px;
    margin-left:5px;
}


#modal1{
    width: 550px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border:none;
    background-color: #fff;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    overflow: hidden;
 }

 #cerrar-form{
    position: absolute;
    right: 17px;
    top:17px;
    cursor:pointer;
 }
 
 
.formulario-inscripcion{
    margin:40px;
} 




.entradas-generales{
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 30px;
}


.entrada-texto{
    width: 477px;
    margin-top: 8px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}


.titulo-entrada{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    text-transform: capitalize;
   
}

.envio{
    
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor:pointer;
}

.center{
    width:100%;
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

.envio:hover{
    background-color: green;
}

#legend1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}


.terminos-condiciones{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-right: 8px;
    width: 15px;
    height: 15px;
}

.flexionar{
    display:flex;
    margin-top: 20px;
    margin-left: 8px;
    font-size: 15px;
}

#texto{
    height: 120px;
}


.list-nav li a  {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}



.nav{
    display: flex;
    width: 1200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}

#logo{
    margin-left: 40px;
    margin-right: 93px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.list-nav li a::before{
    content: " ";
    height: 3px;
    width: 0px;
    background-color: #2196F3;
    position: absolute;
    left: 0px;
    bottom:-30px;
    transition: 0.4s ease-out;
}

.list-nav li a:hover::before{
    width: 100%;
}

.list-nav li a:hover{
    color: #2196F3;
}

#modal:hover{
    color:#2196F3;
}

.list-nav li a{
    position: relative;
}
.list-nav{
    display: flex;
}


.list-nav li{
    list-style: none;
    margin-right: 50px;
}
.list-nav li:last-child{
    margin-right: 0px;
}
.list-nav li a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}



#estudio{
    color: #2196F3;

}



.header-logos{
    margin-right: 10px;
    margin-top: 3px;
    fill:#757575;
    cursor:pointer;
}






.header-logos:hover{
    fill: #2196F3;
}

.info li a:hover{
    color:#2196F3;
}

.info{
    display: flex;
}
.info li{
    list-style: none;
    margin-right: 50px;
}
.info li a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;

}


.banner{
    width: 100%;
    height: 600px;
    background-image: url(../images/Imagen\ \(36\).png);
    display: flex;
    align-items: center;
}

.opacidad{
    Width:100%;
    Height:600px;
    Top:80px;
    background: rgba(47, 48, 58, 0.4);
    position: absolute;
}

.centrar{
   
    width: 696px;
    height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.centrar h1{
    width: 696px;
    height: 50px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

h1{
    z-index: 1;
}

#btn-banner{
   width: 261px;
   height: 50px;
   background: #2196F3;
   border: none;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   position:relative;
   margin-top: 100px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   color: #FFFFFF;
   cursor: pointer;   
}

#btn-banner:hover{
    background-color: #fff;
    color:#212121;
}

.contenido{
    width: 1170px;
    height: 122px;
    margin-top: 95px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.contenido article{
    margin-right: 10px;
    margin-left: 18px;
    
}

.contenido article .parrafo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: justify;
}
.contenido article h2 {
   
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}



.contenido1{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    position: relative;
}
.contenido1 h2{
    text-align: center;
    margin-top:94px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;    
    color: #212121;
}

.cont-descripcion{
    width: 374px;
    height: 324px;
    
}
.descripcion{
    width: 373px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position:absolute;
    margin-top: 255px;
}

.titulo-descripcion{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 30px;
}

.imagenes{
    margin-top: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}


.nuestro-equipo{
    background: #F5F4FA;
    margin-top:94px;
    padding-bottom: 90px;
}

.container-red{
    width: 44px;
    height: 44px;
    border-radius:50%;
}

.container-red:hover{
    background-color: #2196F3;
}

.efecto:hover {
   fill:#fff;
}

.efecto{
    fill:#afb1b8;
}

.redes-personales{
    width: 206px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.img img{
    margin: 20px;
}

.card img{
    width: 270px;
    height: 260px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.nuestro-equipo h2{
    padding-top: 94px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.card{
    margin: 17px;
    background-color: #ffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card h4 , .parrafo{
    padding-top: 10px;
    text-align: center;
}

.card .parrafo{
    padding-bottom: 30px;
}

.card h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.card .parrafo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}



.clientes-regulares{
    width:100%;
    height: 372px;
}

.contentlogo:hover {
    border:1px solid #2196F3;
}

.first{
    fill: #afb1b8;
}

.first:hover{
    fill:#2196F3;
}

.clientr{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 59px;
}

.resources{
    width: 1170px;
    height: 81px;
    margin-left: auto;
    margin-right: auto;
    margin-top:44px;
    display: flex;
    justify-content: space-between;
}

.contentlogo{
    width:170px;
    height:81px;
    border: 1px solid black;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding: 5px;
}



footer{
    width: 100%;
    height: 252px;
    background: #2F303A;
}

.pie{
    width: 231px;
    padding-top: 60px;
    margin-left: 150px;
}

.logo-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-footer {
    text-decoration:none;

}

.h5{
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


.infog li{
    list-style-type:none;
}


.infog li a {
    text-decoration:none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}

#telefono-footer:hover{
    color: #2196F3;
}

#correo-footer:hover{
    color: #2196F3;
}

.boletin{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top:70px;
    margin-left: 93px;
    
}

.footer-input{
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    position: absolute;
    display: block;
    background-color: #2F303A;
    margin-top:20px;
    width: 300px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 10px;
}

#suscribirse{
    width:200px;
    height:50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:none;
    margin-top:108px;
    margin-left: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color:#fff;
    cursor:pointer;
}


#icono-send{
    position:relative;
    left: 20px;
    top:5px;
}



/*portafolio estilos*/

.buttons{
    width: 675px;
    height: auto;
    margin-top: 106px;
    margin-left: auto;
    margin-right: auto;
}

.botones{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    text-align: center;
    height:38px;
    border: none;
    border-radius: 4px;
    
    
}

#boton1{
    width: 73px;
    margin: 8px;
    background: #2196F3;
    color: #fff;
}

#boton1:hover{
    background-color: orangered;
}

#boton2{
    width: 128px;
    margin: 8px;
    background: #F5F4FA;

}
#boton2:hover{
    background-color: #2196F3;
}
#boton3{
    width: 145px;
    margin: 8px;
    background: #F5F4FA;

}
#boton3:hover{
    background-color: #2196F3;
}
#boton4{
    width: 103px;
    margin: 8px;
    background: #F5F4FA;

}
#boton4:hover{
    background-color: #2196F3;
}
#boton5{
    width: 130px;
    margin: 8px;
    background: #F5F4FA;

}
#boton5:hover{
    background-color: #2196F3;
}
.main{
    max-width: 1170px;
    height: 1360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 82px;
}

.mensaje-contenedor{
    position:relative;
    overflow: hidden;
}


 

  .mensaje{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2196F3E5;
    transition: all 500ms ease-out;
    transform: translateY(135%);
    text-align: center;
    display:flex;
    align-items: center;
  }



  .mensaje p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    
}

.mensaje-contenedor:hover > .mensaje{
    transform: translateY(0%);
}


.tarjeta{
    width: 370px;
    height: 404px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.titulo-producto{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-left: 24px;
    margin-top: 20px;
}

.parrafo-producto{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 24px;
}

.contenido-footer{
    display:flex;
}

#portafolio-redes{
    margin-top:75px;
    margin-left: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.redes-sociales{
    margin-left:60px;
    margin-top: 20px;
    display: flex;
}

.redes-sociales li a{
    width: 44px;
    height: 44px;
    margin: 5px;
    border-radius: 50px;
}

.redes-sociales li{
    list-style: none;
}

.redessociales{
   fill: #afb1b8;
}

.redessociales:hover{
    fill:#fff;
}

.logopiepag{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:5px;
}


#ins:hover{
    background-color: rgb(211, 28, 202);
}

#faceb:hover{
    background-color: blue;
}

#twit:hover{
    background-color: rgb(82, 147, 245);
}

#like:hover{
    background-color: rgb(4, 4, 99);
}